@model JobSyncProvider.Models.Category

@{
	ViewData["Title"] = "Create Category";
}


<div class="container col-12 col-xl-5 my-5">
	<div class="card p-3 rounded border shadow">
		<h1>Create Category</h1>
		<hr />
		<div class="row">
			<div>
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-floating mb-3">
						<input id="name" asp-for="Name" class="form-control" placeholder="Category Name" autofocus />
						<label asp-for="Name">Name</label>
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group mt-4 mb-3">
						<input type="submit" value="Submit" class="btn btn-success col-md-3 col-lg-4 col-12 mb-1 ms-1" />
						<a class="btn btn-dark col-md-3 col-lg-4 col-12 mb-1 ms-1" asp-action="Index">Back to List</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
